In [ ]:
conda create -n py310 python=3.10

In [1]:
# !pip install ipython-sql
#!pip install mysql
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\e-time\anaconda3\lib\site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\e-time\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [2]:
# import libraries

import mysql.connector
from mysql.connector import Error
import pandas as pd

In [3]:
# function that helps us create a server connection

def create_server_connection(host_name,user_name, user_password):
        connection = None
        try:
            connection = mysql.connector.connect(
                host = host_name,
                user = user_name,
                passwd = user_password
            )
            print("My sql database connection successfull")
        except Error as err:
                print(f"Error:'{err}:'")
        return connection
            
# put our mysql password
pw = "3323125869"

# database name
db = "mysql_python"
connection = create_server_connection("localhost","root",pw)

My sql database connection successfull

In [4]:
# create mysql_python

def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database create successfully")
    except Error as err:
        print(f"Error:'{err}'")

In [5]:
create_database_query = "Create database mysql_python"
create_database(connection,create_database_query)

Error:'1007 (HY000): Can't create database 'mysql_python'; database exists'

In [6]:
# connect to database of sql

def create_db_connection(host_name,user_name,user_password,db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
        host = host_name,
        user =user_name,
        passwd =user_password,
        database = db_name)
        print("MySQL Databse connection successfull")
    except Error as err:
        print(f"Error:'{err}'")
        return connection

In [7]:
# Execute sql series

def execute_query(connection, query):
    cursor =connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query was successfull")
    except Error as err:
        print(f"Error:'{err}'")

In [8]:
# create a table in database

create_orders_table = """

create table orders(
order_ID INT PRIMARY KEY,
customer_name varchar(30) not null,
product_name varchar(20) not null,
date_ordered date,
quantity int,
unit_price float,
phone_number varchar(20));
"""

# connect to the database

connection = create_db_connection("localhost","root",pw,db)

execute_query (connection, create_orders_table)

MySQL Databse connection successfull

AttributeError: 'NoneType' object has no attribute 'cursor'