In [ ]:
# connect to the database of sql

import mysql.connector as c
con=c.connect(host = "localhost",user = "root", passwd = "3323125869",database="classicmodels")
if con.is_connected():
    print("successfully connected...")
else:
    print("some connectivity error")

In [1]:
# insert data into the table

import mysql.connector as c
con=c.connect(host = "localhost",user = "root", passwd = "3323125869",database="sql_iq")
cursor = con.cursor()
while True:
    code = int(input("enter employee code :"))
    name = input("enter name :")
    salary =int(input("enter salary :"))
    query ="insert into emp values({},'{}',{})".format(code,name,salary);
    cursor.execute(query)
    con.commit()
    print("data inserted succesfully..")
    x=int(input("1->Enter More \n2->Exit\nEnter choice "))
    if x==2:
        break

enter employee code :101
enter name :anas
enter salary :20000

IntegrityError: 1062 (23000): Duplicate entry '101' for key 'emp.PRIMARY'

In [ ]:
# update data of table

# we know the database =>table => column => VALUE

import mysql.connector as c
con=c.connect(host = "localhost",user = "root", passwd = "3323125869",database="sql_iq")
cursor = con.cursor()

code = int(input("enter employee code :"))
salary =int(input("enter salary :"))

query="update emp set salary ={} where code ={}".format(salary,code)
cursor.execute(query)
con.commit()
if cursor.rowcount>0:
    print("data inserted succesfully..")
else:
    print("data not found")

# if cursor.rowcount>0:         # cursor gives the row if statement is true
    print("data inserted succesfully..")
else:
    print("data not found")

In [ ]:
# deleting data from the table

import mysql.connector as c
con=c.connect(host = "localhost",user = "root", passwd = "3323125869",database="sql_iq")
cursor = con.cursor()

code = int(input("enter employee code :"))
query="delete from emp where code ={}".format(code)
cursor.execute(query)
con.commit()
if cursor.rowcount>0:           
    print("data deleted succesfully..")
else:
    print("data not found")

## extract data from the sql

#### fetchone = one record
#### fetchmany = given number of records
#### fetchall = fetches all the data from the table

In [ ]:
import mysql.connector as c
con=c.connect(host = "localhost",user = "root", passwd = "3323125869",database="sql_iq")
cursor = con.cursor()

query="select * from emp"
cursor.execute(query)
data = cursor.fetchone()
print(data)
data = cursor.fetchone()
print(data)
print("total number of rows=",cursor.rowcount)

In [ ]:
# fetchmany

import mysql.connector as c
con=c.connect(host = "localhost",user = "root", passwd = "3323125869",database="sql_iq")
cursor = con.cursor()

cursor.execute("select * from emp")
data = cursor.fetchmany(2)
for i in data:
    print(i)
print("total number of rows=",cursor.rowcount)

# for fetchall()
# data = cursor.fetchall()